<div id="pricing" class="pricing-tables">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading">
          <h4>Simple, Transparent <em>Pricing</em> for Every Team</h4>
          <img src="assets/images/heading-line-dec.png" alt="" />
          <p>
            Pick the plan that fits your team today and upgrade as you grow.
            Every plan includes a 14-day free trial, no credit card required.
          </p>
        </div>
      </div>
      @for (plan of plans; track plan.title) {
        <div class="col-lg-4">
          <div [class]="plan.variant">
            <span class="price">{{ plan.price }}</span>
            <h4>{{ plan.title }}</h4>
            <div class="icon">
              <img src="assets/images/pricing-table-01.png" alt="" />
            </div>
            <ul>
              @for (feature of plan.features; track feature.label) {
                <li [class.non-function]="!feature.enabled">{{ feature.label }}</li>
              }
            </ul>
            <div class="border-button">
              <a routerLink="/signup">Start Free Trial</a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
